
  {% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/carousel.css' %}" rel="stylesheet"> 
<script src="{% static 'css/bootstrap.bundle.min.js' %}"></script>



<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


<div class="row featurette" style = "width : 1200px; background-color:ghostwhite (248, 234, 234);
  margin-left : 20px;
  padding-top: 20px; padding-bottom: 20px; padding-left : 10px; padding-right: 10px;
  border: 1px solid gray ">

<div class="col-md-6 order-md-1">
  <img src = "{% static 'css/detail_room_2.jpg' %}" style = "width : 100%; height: 400px;" >
</div>

  <div class="col-md-6 order-md-2"  style = "font-size : 120%; margin-top : 5px; margin-left : 0px;
    height : 400px; " >

    <div style = "height : 360px;">
    <h2 class="featurette-heading"
      style = "font-size : 120%; margin-top : 0px; margin-left : 0px; text-align: center; font-weight:bold;" 
    > [설 연휴! Flash Sale] 수피리어 트윈 (룸온리) <span class="text-muted"></span></h2>
  
    <p class="lead" style = "font-size: 100%; margin-top: 25px;"> 
         <li> 2인 기준 최대 3인</li>
         <li> 인원 추가시 비용 발생, 현장에서 결제 바랍니다.</li>
         <li>더블배드 1개</li>
         <li>객실 + 욕실 / 1..00평</li>
      <br>
      <strong>
        편의 시설 : <br>
      </strong>
      TV , 쇼파, 에어컨, 냉장고, 미니바, 욕실용품, 샤워가운, 슬리퍼, 헤어드라이기
      <br>
    </p>  
  </div>

  <div style = "text-align: center;">
    <a href="#" class="btn btn-primary" style = "position: relative; bottom: 0px; height : 40px; width : 500px; 
    text-align: center; font-size : 110%"> 
      가격 : 22,000 원</a>
      </div>
  </div>


</div>