

<style>
.container {
	display: flex;
  /* justify-content: space-between; */
}
</style>
<div class="container">
	<div class="item" style = "background-color:#ffa500; width : 30px; border : 2px solid; border-radius: 10px; color:ivory; text-align:center;
  font-weight: bold;">
  9.5</div>
  &nbsp
	<div class="item" style = "color: #ffa500;"> 최고에요 </div>
	&nbsp
  &nbsp
  <div class="item" style = "background-color:#8b00ff ; width : 60px; border : 2px solid; border-radius: 10px; color:ivory; text-align:center;
  font-weight: bold;" >호텔</div>
</div>