<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_12e303fc73394c518759f31322b71903 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_12e303fc73394c518759f31322b71903" ></div>
        
</body>
<script>    
    
            var map_12e303fc73394c518759f31322b71903 = L.map(
                "map_12e303fc73394c518759f31322b71903",
                {
                    center: [37.777029066666664, 128.8864275888889],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b76e178f5c614cf9ae639c7b9e29ce13 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
            var marker_f42b8dae307d432db12d13b33639d341 = L.marker(
                [37.83539329999999, 128.8730286],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_57096437e237441db55f8abb048551c6 = L.popup({"maxWidth": "100%"});

        
            var html_7b03ca55decd4d2da2ea9b4373ee0d4f = $(`<div id="html_7b03ca55decd4d2da2ea9b4373ee0d4f" style="width: 100.0%; height: 100.0%;">강릉 까르디에펜션</div>`)[0];
            popup_57096437e237441db55f8abb048551c6.setContent(html_7b03ca55decd4d2da2ea9b4373ee0d4f);
        

        marker_f42b8dae307d432db12d13b33639d341.bindPopup(popup_57096437e237441db55f8abb048551c6)
        ;

        
    
    
            var marker_204abbe5e5b74944b680ef76593f9d5c = L.marker(
                [37.8352312, 128.87265060000001],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_884bcab69253470589465bbd164abe1a = L.popup({"maxWidth": "100%"});

        
            var html_e394d902344746b1ac2d1143adadd653 = $(`<div id="html_e394d902344746b1ac2d1143adadd653" style="width: 100.0%; height: 100.0%;">강릉 루루펜션</div>`)[0];
            popup_884bcab69253470589465bbd164abe1a.setContent(html_e394d902344746b1ac2d1143adadd653);
        

        marker_204abbe5e5b74944b680ef76593f9d5c.bindPopup(popup_884bcab69253470589465bbd164abe1a)
        ;

        
    
    
            var marker_70a29d4187a24a3a9ee5fdcefa3f475f = L.marker(
                [37.803093700000005, 128.9032771],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_a33e15b7f2d34d48818455ce2b49ed71 = L.popup({"maxWidth": "100%"});

        
            var html_df5c3f1d32034d91a3008fbfda413b4f = $(`<div id="html_df5c3f1d32034d91a3008fbfda413b4f" style="width: 100.0%; height: 100.0%;">경포대 아테네</div>`)[0];
            popup_a33e15b7f2d34d48818455ce2b49ed71.setContent(html_df5c3f1d32034d91a3008fbfda413b4f);
        

        marker_70a29d4187a24a3a9ee5fdcefa3f475f.bindPopup(popup_a33e15b7f2d34d48818455ce2b49ed71)
        ;

        
    
    
            var marker_43d14ba1c22441a19e8c1a454e31eb1e = L.marker(
                [37.75380210000001, 128.8810283],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_8e145a3eadfc4ebdbf786ea29690a019 = L.popup({"maxWidth": "100%"});

        
            var html_b1476e33f8d243c9b1ff5717df1d76c0 = $(`<div id="html_b1476e33f8d243c9b1ff5717df1d76c0" style="width: 100.0%; height: 100.0%;">강릉 피크닉</div>`)[0];
            popup_8e145a3eadfc4ebdbf786ea29690a019.setContent(html_b1476e33f8d243c9b1ff5717df1d76c0);
        

        marker_43d14ba1c22441a19e8c1a454e31eb1e.bindPopup(popup_8e145a3eadfc4ebdbf786ea29690a019)
        ;

        
    
    
            var marker_383297f72e8e4dcfbd9a59540ee16425 = L.marker(
                [37.759854600000004, 128.8979239],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_ed3dbd84625b4f66b041bdec1e09b2ed = L.popup({"maxWidth": "100%"});

        
            var html_e23576b8dd4c4f66aacb7750a72cf978 = $(`<div id="html_e23576b8dd4c4f66aacb7750a72cf978" style="width: 100.0%; height: 100.0%;">강릉 K모텔</div>`)[0];
            popup_ed3dbd84625b4f66b041bdec1e09b2ed.setContent(html_e23576b8dd4c4f66aacb7750a72cf978);
        

        marker_383297f72e8e4dcfbd9a59540ee16425.bindPopup(popup_ed3dbd84625b4f66b041bdec1e09b2ed)
        ;

        
    
    
            var marker_11968bf75fa84602b994da7ea41691ef = L.marker(
                [37.613404700000004, 129.03959070000002],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_6fa5dfd535db4986a57eeee77759e5e3 = L.popup({"maxWidth": "100%"});

        
            var html_58bba83687f645b487c42bdcdb73f28b = $(`<div id="html_58bba83687f645b487c42bdcdb73f28b" style="width: 100.0%; height: 100.0%;">강릉 썸 무인텔</div>`)[0];
            popup_6fa5dfd535db4986a57eeee77759e5e3.setContent(html_58bba83687f645b487c42bdcdb73f28b);
        

        marker_11968bf75fa84602b994da7ea41691ef.bindPopup(popup_6fa5dfd535db4986a57eeee77759e5e3)
        ;

        
    
    
            var marker_f037d5b910d842e9a592516e62063ec3 = L.marker(
                [37.8694633, 128.8400733],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_e64bebfacbdd43afb456e6caea3f5238 = L.popup({"maxWidth": "100%"});

        
            var html_c4017fd8ec0f4eb78784c3b6c85ef50e = $(`<div id="html_c4017fd8ec0f4eb78784c3b6c85ef50e" style="width: 100.0%; height: 100.0%;">강릉 힐링연펜션A동</div>`)[0];
            popup_e64bebfacbdd43afb456e6caea3f5238.setContent(html_c4017fd8ec0f4eb78784c3b6c85ef50e);
        

        marker_f037d5b910d842e9a592516e62063ec3.bindPopup(popup_e64bebfacbdd43afb456e6caea3f5238)
        ;

        
    
    
            var marker_50b36b0cbe6d4d9a96ec1b53a9c68535 = L.marker(
                [37.756415399999995, 128.7942679],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_f8012f5068cc4c65a1314109a38ff291 = L.popup({"maxWidth": "100%"});

        
            var html_d17632376cc5476a8adfa965fade1be4 = $(`<div id="html_d17632376cc5476a8adfa965fade1be4" style="width: 100.0%; height: 100.0%;">강릉 해피몽펜션</div>`)[0];
            popup_f8012f5068cc4c65a1314109a38ff291.setContent(html_d17632376cc5476a8adfa965fade1be4);
        

        marker_50b36b0cbe6d4d9a96ec1b53a9c68535.bindPopup(popup_f8012f5068cc4c65a1314109a38ff291)
        ;

        
    
    
            var marker_a03aa728963a462da82207a3de53fdc8 = L.marker(
                [37.7666033, 128.87600790000002],
                {"color": "red", "radius": 10}
            ).addTo(map_12e303fc73394c518759f31322b71903);
        
    
        var popup_7844a3a6884b4307831a5a18c84d6e49 = L.popup({"maxWidth": "100%"});

        
            var html_f11127d7fd034b909171cdd57f983b7a = $(`<div id="html_f11127d7fd034b909171cdd57f983b7a" style="width: 100.0%; height: 100.0%;">강릉 그레이호텔</div>`)[0];
            popup_7844a3a6884b4307831a5a18c84d6e49.setContent(html_f11127d7fd034b909171cdd57f983b7a);
        

        marker_a03aa728963a462da82207a3de53fdc8.bindPopup(popup_7844a3a6884b4307831a5a18c84d6e49)
        ;

        
    
</script>