<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4a58480fb1f64e2fa6501e7054e58adc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4a58480fb1f64e2fa6501e7054e58adc" ></div>
        
</body>
<script>    
    
            var map_4a58480fb1f64e2fa6501e7054e58adc = L.map(
                "map_4a58480fb1f64e2fa6501e7054e58adc",
                {
                    center: [37.54099694999999, 127.57072435],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c4bebb6189e840ec8b2aa8c07132790d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4a58480fb1f64e2fa6501e7054e58adc);
        
    
            var marker_0193534b33364ffaad8a293ad2b9c349 = L.marker(
                [37.589085600000004, 127.4548259],
                {"color": "red", "radius": 10}
            ).addTo(map_4a58480fb1f64e2fa6501e7054e58adc);
        
    
        var popup_4d0dbafb5ba44746acf8fee23929ebbf = L.popup({"maxWidth": "100%"});

        
            var html_e4c7b1976b054e64a3071d019594a3bf = $(`<div id="html_e4c7b1976b054e64a3071d019594a3bf" style="width: 100.0%; height: 100.0%;">산너머펜션</div>`)[0];
            popup_4d0dbafb5ba44746acf8fee23929ebbf.setContent(html_e4c7b1976b054e64a3071d019594a3bf);
        

        marker_0193534b33364ffaad8a293ad2b9c349.bindPopup(popup_4d0dbafb5ba44746acf8fee23929ebbf)
        ;

        
    
    
            var marker_c66e14c6829d4447b9d7c8bc20b4c5f9 = L.marker(
                [37.534219799999995, 127.74794740000002],
                {"color": "red", "radius": 10}
            ).addTo(map_4a58480fb1f64e2fa6501e7054e58adc);
        
    
        var popup_8d1af3b219d74311b25d356f33fc1d81 = L.popup({"maxWidth": "100%"});

        
            var html_0ef99520b0964b3187942275dbf7f464 = $(`<div id="html_0ef99520b0964b3187942275dbf7f464" style="width: 100.0%; height: 100.0%;">양평 맑은물소리 펜션</div>`)[0];
            popup_8d1af3b219d74311b25d356f33fc1d81.setContent(html_0ef99520b0964b3187942275dbf7f464);
        

        marker_c66e14c6829d4447b9d7c8bc20b4c5f9.bindPopup(popup_8d1af3b219d74311b25d356f33fc1d81)
        ;

        
    
    
            var marker_8c3d2e46cec5437788d7cb165609df88 = L.marker(
                [37.4489286, 127.6916471],
                {"color": "red", "radius": 10}
            ).addTo(map_4a58480fb1f64e2fa6501e7054e58adc);
        
    
        var popup_4fff6a5537bd40a890c5ff085d2f32fc = L.popup({"maxWidth": "100%"});

        
            var html_352f5888cd4e4a1ba659500becb1f997 = $(`<div id="html_352f5888cd4e4a1ba659500becb1f997" style="width: 100.0%; height: 100.0%;">아침정원 펜션</div>`)[0];
            popup_4fff6a5537bd40a890c5ff085d2f32fc.setContent(html_352f5888cd4e4a1ba659500becb1f997);
        

        marker_8c3d2e46cec5437788d7cb165609df88.bindPopup(popup_4fff6a5537bd40a890c5ff085d2f32fc)
        ;

        
    
    
            var marker_fc789c2245f14daf88091dcf9e63436c = L.marker(
                [37.59175379999999, 127.38847700000001],
                {"color": "red", "radius": 10}
            ).addTo(map_4a58480fb1f64e2fa6501e7054e58adc);
        
    
        var popup_68d487901a9442338e66ea7e633ec97b = L.popup({"maxWidth": "100%"});

        
            var html_367fea7d1bde4d968da2d352415467e5 = $(`<div id="html_367fea7d1bde4d968da2d352415467e5" style="width: 100.0%; height: 100.0%;">B612</div>`)[0];
            popup_68d487901a9442338e66ea7e633ec97b.setContent(html_367fea7d1bde4d968da2d352415467e5);
        

        marker_fc789c2245f14daf88091dcf9e63436c.bindPopup(popup_68d487901a9442338e66ea7e633ec97b)
        ;

        
    
</script>