<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_10d1690564304fb8831ab1bf3156a01a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_10d1690564304fb8831ab1bf3156a01a" ></div>
        
</body>
<script>    
    
            var map_10d1690564304fb8831ab1bf3156a01a = L.map(
                "map_10d1690564304fb8831ab1bf3156a01a",
                {
                    center: [37.544973133333336, 126.91326106666666],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2781ce08547e4c21a8950bfe7301bb49 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
            var marker_2376edd230734103a0da6f9f85c61b60 = L.marker(
                [37.51093669999999, 127.08086170000001],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_dad90419759c4962bc6c837b88c6429d = L.popup({"maxWidth": "100%"});

        
            var html_2bf073e1aae344258c5e441387495527 = $(`<div id="html_2bf073e1aae344258c5e441387495527" style="width: 100.0%; height: 100.0%;">신천 NU</div>`)[0];
            popup_dad90419759c4962bc6c837b88c6429d.setContent(html_2bf073e1aae344258c5e441387495527);
        

        marker_2376edd230734103a0da6f9f85c61b60.bindPopup(popup_dad90419759c4962bc6c837b88c6429d)
        ;

        
    
    
            var marker_b44ad1d3f857424cbe35d7662bbce833 = L.marker(
                [37.5250162, 126.85781840000001],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_89a8ec265f8f4c78beaacfe78ade589e = L.popup({"maxWidth": "100%"});

        
            var html_147c3867ec1545d09db2ed6edddc45f0 = $(`<div id="html_147c3867ec1545d09db2ed6edddc45f0" style="width: 100.0%; height: 100.0%;">목동 메종</div>`)[0];
            popup_89a8ec265f8f4c78beaacfe78ade589e.setContent(html_147c3867ec1545d09db2ed6edddc45f0);
        

        marker_b44ad1d3f857424cbe35d7662bbce833.bindPopup(popup_89a8ec265f8f4c78beaacfe78ade589e)
        ;

        
    
    
            var marker_8e640431c3e841d48513e7967ecdc482 = L.marker(
                [37.5497351, 126.8483505],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_9c517eec93234ad9939b9ef09b7181f2 = L.popup({"maxWidth": "100%"});

        
            var html_e595cca513234cbd84de6afd0c4f9bc5 = $(`<div id="html_e595cca513234cbd84de6afd0c4f9bc5" style="width: 100.0%; height: 100.0%;">화곡 샤르망-강서구청</div>`)[0];
            popup_9c517eec93234ad9939b9ef09b7181f2.setContent(html_e595cca513234cbd84de6afd0c4f9bc5);
        

        marker_8e640431c3e841d48513e7967ecdc482.bindPopup(popup_9c517eec93234ad9939b9ef09b7181f2)
        ;

        
    
    
            var marker_e8b747a8c6334b2283ac8024831af37b = L.marker(
                [37.5300734, 126.8412253],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_1f953cdbb6f844438aa84558d93b38cf = L.popup({"maxWidth": "100%"});

        
            var html_dae5c2dad124444f85ca573adbd68b6f = $(`<div id="html_dae5c2dad124444f85ca573adbd68b6f" style="width: 100.0%; height: 100.0%;">화곡 앤</div>`)[0];
            popup_1f953cdbb6f844438aa84558d93b38cf.setContent(html_dae5c2dad124444f85ca573adbd68b6f);
        

        marker_e8b747a8c6334b2283ac8024831af37b.bindPopup(popup_1f953cdbb6f844438aa84558d93b38cf)
        ;

        
    
    
            var marker_1e1d77ff6cc74028848845e9d995c56f = L.marker(
                [37.5764888, 126.8307466],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_a2660f78483c4d089892339781f06462 = L.popup({"maxWidth": "100%"});

        
            var html_ed3f241fa9cc4bcea402f750a2adb23a = $(`<div id="html_ed3f241fa9cc4bcea402f750a2adb23a" style="width: 100.0%; height: 100.0%;">호텔 엠펠리체</div>`)[0];
            popup_a2660f78483c4d089892339781f06462.setContent(html_ed3f241fa9cc4bcea402f750a2adb23a);
        

        marker_1e1d77ff6cc74028848845e9d995c56f.bindPopup(popup_a2660f78483c4d089892339781f06462)
        ;

        
    
    
            var marker_d0c47cb83973448692c47a11f25d7f52 = L.marker(
                [37.5544309, 126.97468590000001],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_aa53e4990cc04ca3b9ca7f7000a3e950 = L.popup({"maxWidth": "100%"});

        
            var html_1c4d6eba44504db2a870f679c73fafbc = $(`<div id="html_1c4d6eba44504db2a870f679c73fafbc" style="width: 100.0%; height: 100.0%;">서울역 원미닛 게스트하우스</div>`)[0];
            popup_aa53e4990cc04ca3b9ca7f7000a3e950.setContent(html_1c4d6eba44504db2a870f679c73fafbc);
        

        marker_d0c47cb83973448692c47a11f25d7f52.bindPopup(popup_aa53e4990cc04ca3b9ca7f7000a3e950)
        ;

        
    
    
            var marker_4ab48037254f4d4b9b0c6a2296f37c57 = L.marker(
                [37.5495315, 126.9206446],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_357e24d17e8c4af3b730f548557d9526 = L.popup({"maxWidth": "100%"});

        
            var html_3556bd27003b4757a2b337f4661c32e0 = $(`<div id="html_3556bd27003b4757a2b337f4661c32e0" style="width: 100.0%; height: 100.0%;">홍대 유(서교) 여성전용</div>`)[0];
            popup_357e24d17e8c4af3b730f548557d9526.setContent(html_3556bd27003b4757a2b337f4661c32e0);
        

        marker_4ab48037254f4d4b9b0c6a2296f37c57.bindPopup(popup_357e24d17e8c4af3b730f548557d9526)
        ;

        
    
    
            var marker_4f6ba73fee464c8cb5c652938b45aa80 = L.marker(
                [37.5541761, 126.9375064],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_ca23b8b9d8e149c89e0ad2f3ed4b31a3 = L.popup({"maxWidth": "100%"});

        
            var html_846ff9471c0440a9bec080be6249f86e = $(`<div id="html_846ff9471c0440a9bec080be6249f86e" style="width: 100.0%; height: 100.0%;">신촌 호스텔 가온</div>`)[0];
            popup_ca23b8b9d8e149c89e0ad2f3ed4b31a3.setContent(html_846ff9471c0440a9bec080be6249f86e);
        

        marker_4f6ba73fee464c8cb5c652938b45aa80.bindPopup(popup_ca23b8b9d8e149c89e0ad2f3ed4b31a3)
        ;

        
    
    
            var marker_41948bb2a80d4e68bbec530f3a4ac49a = L.marker(
                [37.5543695, 126.9275102],
                {"color": "red", "radius": 10}
            ).addTo(map_10d1690564304fb8831ab1bf3156a01a);
        
    
        var popup_f3a029f8b15d4dc2b071ccd49c8a0027 = L.popup({"maxWidth": "100%"});

        
            var html_18733b0419fc4ccbb9fd3cfaab7ff4ca = $(`<div id="html_18733b0419fc4ccbb9fd3cfaab7ff4ca" style="width: 100.0%; height: 100.0%;">홍대 준 게스트하우스</div>`)[0];
            popup_f3a029f8b15d4dc2b071ccd49c8a0027.setContent(html_18733b0419fc4ccbb9fd3cfaab7ff4ca);
        

        marker_41948bb2a80d4e68bbec530f3a4ac49a.bindPopup(popup_f3a029f8b15d4dc2b071ccd49c8a0027)
        ;

        
    
</script>